RewriteEngine On

RewriteCond %(REQUEST_FILENAME) !-f
RewriteCond %(REQUEST_FILENAME) !-d


RewriteRule ^calculator/?$ calculator.php [NC]
RewriteRule ^about/?$ about.php [NC]
RewriteRule ^material/?$ material.php [NC]
#Options -Indexes